.all-content {
  margin-left: 300px;
  margin-right: 300px;
}
.card-img-top {
  position: left;
  left: 50%;
  width: 40px !important;
  height: 40px;
  margin-right: 15px;
}
.card-comment {
  border: none;
}

