
.banner {
  text-align: center;
}
.container-md {
  width: 100%;
  height: 100%;
  border: 3 solid rgb(5, 65, 65);
  border-radius: 5px;
}
.main-post {
  background-color: rgba(0, 0, 0,0.8);
  border-radius: 15px;
  border-color: #000000;
}
.title-post {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  border: 1 solid rgb(5, 65, 65);
  border-radius: 5px;
}
.profil {
  display:flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 0, 0);
  justify-content: space-between;
  padding: 5px;
}
.profil-info {
  margin-left: 2%;
  align-items: end;
}
.img-profil {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}


.img {
  width: 50px;
  height:70px ;
  border-radius: 5px;
}
.mood {
  justify-content: end;
  align-items: end;
}
.track {
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  background-color: rgba(0, 0, 0,0.8);
  padding: 5px;
}
.card {
  border-radius: 15px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.title-post{
  border-radius: 15px;
}
.post{
  border-radius: 15px;

}
