.banner {
  text-align: center;
}
.container-md {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.main-post {
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 10px;
}

.title-post {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 5px;
}
.profil {
  display:flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 5px;
}
.profil-info {
  margin-left: 2%;
  align-items: end;
}
.img-profil {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.img {
  width: 50px;
  height:70px ;
  border-radius: 5px;
}
.mood {
  justify-content: end;
  align-items: end;
  margin-bottom: 5px;
}
.track {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  padding: 5px;
}
.card {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: #202020;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.title-post{
  border-radius: 10px;
  margin-bottom: 5px;
}
.post{
  border-radius: 15px;
}
.content-post {
  padding-top: 10px;
  margin-bottom: 5px;
}

body {
  /* Prevent the user selecting text in the example */
  user-select: none;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

 .a-link {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #808080 ;
  padding:8px 12px;

}

.a-link:focus {
  border:4px solid white;

}
.add_comment{
  margin-left: 8px;
}
.text-start{
  margin-top: 10px;
}
.date-emoji{
  display: flex;
  justify-content: space-between;
}

.date-comment {
  margin-top: 3;
}
