.card {
  border-radius: 15px;
  border-color: #E5E0E6;
  backdrop-filter: blur(10px);
  background-color: rgba(226, 231, 223, 0.6);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


body {
    background: white;
}

.main-post{
  border-radius: 15px;
  border-color: #000000;
}
.title-post{
  border-radius: 15px;
}
.track {
  border-radius: 15px;
}
