<nav class="navbar navbar-light fixed-bottom ">

  <%= link_to user_path(current_user) do%-->
<i class="fa-solid fa-user-group ml-3" style="color: white;"></i>
<% end %>

<%= link_to "+", posts_path, class: "add-post-button" %>
</nav>
