<% post.best_reactions.each do |reaction| %>
  <li class="emoji-reaction <%= "selected" if reaction.current_user?(current_user) %>">
    <%= reaction.emoji %> <span><%= reaction.count %></span>
  </li>
<% end %>
