<i class="fa-solid fa-face-smile" data-action="click->emoji-picker#toggle"></i>
<div class="emojis d-none" data-emoji-picker-target="emojiPicker">
  <% %w(ðŸ‘ â¤ï¸ ðŸ˜² ðŸ˜¡ ðŸ˜¢).each do |emoji| %>
    <div class="emoji" data-action="click->emoji-picker#createReaction"><%= emoji %></div>
  <% end %>
</div>
