<div class="banner ">

<!-- Modal -->
  <div class="modal custom fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Partage ta musique</h1>
          <button type="button" class="btn-close white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "post_form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
<h1 class= "wakely-font my-2">Wakely</h1>
</div>
<div class="scrollmenu ">
  <% Post::MOODS.each do |mood|  %>
    <%=link_to mood, posts_path(mood: mood) %>
  <% end %>
</div>
<div class="container-md">
  <%= render "cardpost"%>
  <br>
  <br>
</div>

