<div class="banner ">
</div>
<div class="scrollmenu ">
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="#support">Support</a>
  <a href="#blog">Blog</a>
  <a href="#tools">Tools</a>
  <a href="#base">Base</a>
  <a href="#custom">Custom</a>
  <a href="#more">More</a>
  <a href="#logo">Logo</a>
  <a href="#friends">Friends</a>
  <a href="#partners">Partners</a>
  <a href="#people">People</a>
  <a href="#work">Work</a>
</div>
  <%= render "posts/post_form", post: @post %>
<div class="container-md">
  <%= render "cardpost"%>
  <br>
  <br>
</div>



<!--
    <%= link_to root_path, class: "navbar-brand" do %>
    <button type="button" class="btn cube cube-hover">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
      <div class="wakely-font text-white">Amis</div>
    </button>
    <% end %>
  </div>
</nav>
