<div class="banner ">
  <h1 class="wakely-font">Wakely</h1>
</div>
  <%= render "posts/post_form", post: @post %>
<div class="container-md">
  <%= render "cardpost"%>
  <br>
  <br>
</div>



<!--
    <%= link_to root_path, class: "navbar-brand" do %>
    <button type="button" class="btn cube cube-hover">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
      <div class="wakely-font text-white">Amis</div>
    </button>
    <% end %>
  </div>
</nav>
