.comment {
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: start;
  display: flex;
  padding-top: 20px;

}

.comment-text {
  font-style: bold;
  margin-bottom: 7px;
  font-size: 20px;
}

.date-time {
  color: #808080;
  font-size: xx-small;
  font-size: xx-small;
}

.user-comment {
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: bold;
  color: white;
}

.add_comment {
  color: white;
  font-size: smaller;
  text-align: right;
}

.comment-user {
  color: white;
  font-size: smaller;
  margin-bottom: 5px;
}

.comment-text {
  color: white;
}

.img-comment {
  size: 50%;
}

.ushow {
  font-size: smaller;
  text-decoration: none;
}

.date-time-comment {
  color: #808080;
  font-size: xx-small;
  font-size: xx-small;
  margin-left: 70px;
}
