.fixed-emoji-bar {
  list-style-type: none;
  display: flex;
  gap: 5px;
  position: relative;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  margin-bottom: 5px;
}

.emoji-reaction {
  width: 15%;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.selected {
  background-color: #E3E9C2;
}

.emojis {
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	border-radius: 4rem;
  justify-content: space-around;
  align-items: center;


	.emoji {
		cursor: pointer;
		user-select: none;
		font-size: 15px;
		margin: 0 0.5rem;
		transition: all 0.3s;

		&:hover {
			transform: scale(1.5);
		}
	}
}
